{# Copyright (C) 2012 - 2013 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="blue" />
    <link href="{{ uri.base.path }}assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <style type="text/css">
        h1, h2, h3, h4, h5, h6, .site-title {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
    {% block headerCSS %}{% endblock %}
    <title>{% block title %}Joomla! Environment Stats{% endblock %}</title>
</head>
<body class="site">

    <header class="header">
        <div class="container">
            <div class="row-fluid">
                {% block header %}
                    <div class="span7">
                        <h1 class="page-title">Joomla! Environment Stats</h1>
                    </div>
                    <div class="span5">
                        <div class="btn-toolbar pull-right">
                            <div class="btn-group">
                                <a href="http://www.joomla.org/download.html" class="btn btn-large btn-warning">{{ "Download" }} <span class="hidden-tablet">Joomla</span></a>
                            </div>
                            <div class="btn-group">
                                <a href="http://demo.joomla.org/" class="btn btn-large btn-primary">{{ "Demo" }} <span class="hidden-tablet">Joomla</span></a>
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </header>

    <div class="body">

        <div class="container">
            <noscript><h2 class="alert">Please activate JavaScript in your browser.</h2></noscript>

            {% block content %}{% endblock %}

            <br /><br />
            <div class="alert alert-info">
                <p>If you would like to contribute your environment stats, download and <a href="https://github.com/dongilbert/jstats-plugin">install this plugin</a>.</p>
            </div>
        </div>
    </div>

{% block JavaScriptBottom %}
    <script src="{{ uri.base.path }}assets/js/jquery.min.js"></script>
    <script src="{{ uri.base.path }}assets/js/bootstrap.min.js"></script>
    <script src="{{ uri.base.path }}assets/js/canvasjs.min.js"></script>
   {% block footerJS %}{% endblock %}
{% endblock %}

</body>
</html>
