{# Copyright (C) 2013 - 2013 Open Source Matters, Inc. All rights reserved. #}
{# GNU General Public License version 2 or later; see LICENSE.txt #}

{% extends "index.twig" %}

{% block headerCSS %}
{% endblock %}

{% block content %}

    <div class="row-fluid">
        <div id="cmsVersions" class="span6" style="min-height:400px"></div>
        <div id="phpVersions" class="span6" style="min-height:400px"></div>
    </div>

    <br /><br />
    <div class="alert alert-info">
        <p>If you would like to contribute your environment stats along with the other {{ data.total }} unique installs, download and <a href="https://github.com/dongilbert/jstats-plugin">install this plugin</a>.</p>
    </div>

{% endblock %}

{% block footerJS %}
<script type="text/javascript">
    jQuery(document).ready(function($){
        var cmsChart = new CanvasJS.Chart("cmsVersions", {
            title: {
                text: "Installed Joomla! Versions"
            },
            data: [{
                type: "doughnut",
                dataPoints: [
                    {% for point in data.cms_version %}
                    {
                        y: {{ point.count }},
                        indexLabel: '{{ point.name }}'
                    },
                    {% endfor %}
                ]
            }]
        });

        cmsChart.render();

        var phpChart = new CanvasJS.Chart("phpVersions", {
            title: {
                text: "PHP Versions"
            },
            data: [{
                type: "doughnut",
                dataPoints: [
                    {% for point in data.php_version %}
                    {
                        y: {{ point.count }},
                        indexLabel: '{{ point.name }}'
                    },
                    {% endfor %}
                ]
            }]
        });

        phpChart.render();
    });
</script>
{% endblock %}